<section data-ng-controller="FundsController" data-ng-init="findOne()">
    <span>{{fund.created | date:'medium'}}</span> /
    <span>{{fund.user.name}}</span>
    <h2>{{fund.title}}</h2>
    <div data-ng-show="global.user._id == fund.user._id">
        <a class="btn" href="/#!/funds/{{fund._id}}/edit">
        	<i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <div>{{fund.content}}</div>
</section>
